.editor, .preview {
    width: 600px;
    height: 600px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}

.editor {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    resize: none;

    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;
    color: transparent;
    caret-color: black;
}