.home-wrapper {
    text-align: center;
    margin: 0 15px;
}

.create-entry-wrapper {
    margin: 30px 0;
}

.timeline-wrapper {
    margin-top: 30px;
}

.create-capsule-popup {
    background-color: white;
    padding: 15px 30px;
}