.home-wrapper {
    text-align: center;
    margin: 0 15px;
}

.create-entry-wrapper {
    margin: 30px 0;
}

.timeline-wrapper {
    margin-top: 30px;
}

.recents-wrapper {
    margin-top: 30px;
}

.infinite-scroll {
    background-color: aliceblue;
    max-height: 200px;
    overflow-y: scroll;
}

.infinite-scroll > * > * > * {
    margin: 50px;
}