.button {
    position: relative;
    padding: 10px;
    min-width: 180px;
    height: 45px;
    font-size: large;
    background-color: black;
    color: white;
    border-radius: 15px;  
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.normal {
    background-color: black;
    color: white; 
    border: none;
    transition: background-color 0.25s ease;
}

.light {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    overflow: hidden;
    transition: color 0.19s ease-in;
}

.slide-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    transition: width 0.19s ease-in;
    z-index: -1;
}

/* Only apply hover styles when buttons aren't disabled*/
.normal:not([disabled]):hover {
    background-color: rgb(60, 60, 60);
}

.slide-hover:not([disabled]):hover {
    color: white;
}
.slide-hover:not([disabled]):hover:before {
    width: 100%;
}

.normal:disabled {
    background-color: rgb(160, 160, 160);
    color: white;
    cursor: not-allowed;
}

.light:disabled {
    cursor: not-allowed;
}