.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
}

.error-text {
    font-size: 1.15em;
    text-align: center;
}

.error-code {
    font-size: 3.4em;
    margin: 0;   
}