.navbar {
    background-color: var(--primary-color);
}

.back-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.back-icon {
    * {
        color: var(--secondary-color);
    }
}

.title {
    margin: 0;
}

.title-link {
    color: var(--secondary-color);
    text-decoration: none;
}

.username-dropdown {
    color: var(--secondary-color);
    user-select: none;
}

.username-dropdown-arrow {
    color: var(--secondary-color);
    font-size: 0.7em;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* used so when you click off the dropdown on mobile, it wont click anything on the page */
.screencover {
    background-color: transparent;
    height: 100%;
}

.dropdown {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
}

.dropdown-link {
    display: block;
    text-align: center;
    width: 100%;
    color: var(--secondary-color);
    text-decoration: none;
}