.date-title {
    margin-bottom: 8px;
}

.recents-wrapper {
    min-height: 150px;
    height: 100%;
}

.no-entries-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.no-entries {
    margin: 60px 15px;
    opacity: 0.6;
}

.recent-wrapper {
    margin: 30px 70px;
    padding: 10px;
}

.recent-text-wrapper {
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.recent-text-content {
    word-wrap: break-word;
}

@media (min-width: 900px) {
    .recents-wrapper {
        overflow-y: scroll;
    }
}