.date-title {
    margin-bottom: 8px;
}

.recents-wrapper {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-entries {
    margin: 0;
    opacity: 0.7;
}

.infinite-scroll-container {
    width: 500px;
}

.recent-wrapper {
    margin: 30px 0;
    padding: 10px;
}

.recent-text-wrapper {
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.recent-text-content {
    word-wrap: break-word;
}