.timeline-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.year-selector {
    margin: 10px auto;
    display: table;
}

.year-selector span {
    display: table-cell;
    vertical-align: middle;
}

.year-selector .arrow-wrapper {
    min-width: 45px;
}

.year-selector .selected-year {
    user-select: none;
    min-width: 80px;
    padding-bottom: 2px; /* to nudge text vertically a bit for a more pleasing effect */
}

.timeline {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18px);
    grid-auto-rows: 18px;
    justify-content: center; /*Horizontal align*/
    align-items: center; /*Vertical align*/
    gap: 4px;

    overflow-x: hidden;

    width: 500px;

    margin: 0 auto; /* centers horizontally */
}


@media only screen and (max-width: 600px) {
    .timeline {
        width: 100%;
    }
  }
