.timeline-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;

    width: 500px;
    margin: 0 auto;
}

.year-selector {
    margin-bottom: 10px;
}

.timeline {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18px);
    grid-auto-rows: 18px;
    justify-content: center; /*Horizontal align*/
    align-items: center; /*Vertical align*/
    gap: 4px;

    overflow-x: hidden;

    width: 100%;
}

@media only screen and (max-width: 600px) {
    .timeline-wrapper {
        width: 100%;
    }
  }
